snippet chrome
	{
	    "name": "${1:name}",
	    "description": "${2:desc}",
	    "background_page": "${3:background.html}"$4
	}
snippet key
	"${1:key}": "${2:val}"$3
snippet dict
	"${1:key}": {
	    "${2:key}": "${3:val}"$4
	}$5
snippet list
	"${1:key}": [
	    "${2:val}"$3
	]$4