# vim:ft=snippets:

snippet mot "implementation notes"
Motivation
----------

$0
endsnippet
snippet imp "implementation notes"
Implementation Notes
--------------------

$0
endsnippet

snippet dir "current working directory"
`!p
import os
snip.rv = os.path.basename(os.getcwd())
`
endsnippet

snippet pwd "full path of current directory"
`!p
import os
snip.rv = os.getcwd()
`
endsnippet
