snippet now "YYYY-MM-DD hh:mm" w
`!v strftime("%a, %d %b %Y %H:%M:%S %z")`
endsnippet

snippet entry "Full changelog entry" w
dbrhino-agent ($1) unstable; urgency=medium

  * $2

 -- buck <buck@dbrhino.com>  `!v strftime("%a, %d %b %Y %H:%M:%S %z")`
endsnippet
