# vim:ft=snippets:

snippet create-index "create index" A
CREATE INDEX $1 ON $2 ($3);$0
endsnippet

snippet drop-index "drop index" A
DROP INDEX $1;$0
endsnippet

snippet create-table "create table" A
CREATE TABLE $1 (
	${2:id serial primary key}
);$0
endsnippet

snippet drop-table "drop table" A
DROP TABLE $1;$0
endsnippet
