snippet output "output"
output "$1" {
	value = "$2"
}
endsnippet

snippet var "variable"
variable "$1" {}
endsnippet

snippet vard "variable with default"
variable "$1" {
	${2:default = "$3"}
}
endsnippet

snippet vardd "variable with default and description"
variable "$1" {
	description = "$2"
	${3:default = "$4"}
}
endsnippet

snippet resource "resource"
resource "$1" "$2" {
	$0
}
endsnippet
