snippet component "component"
<template>
$0
</template>

<script>
export default {
	name: '`!p
snip.rv = snip.fn.split(".")[0]
`',
	data () {
		return {
		}
	}
}
</script>
endsnippet

snippet style "style"
<style scoped>
$0
</style>
endsnippet

snippet rlink "router-link"
<router-link :to="$1">$2</router-link>$0
endsnippet
