snippet component "component"
<template>
$0
</template>

<script>
export default {
	name: '',
	data () {
		return {
		}
	}
}
</script>

<style scoped>
</style>
endsnippet

snippet style "style"
<style scoped>
$0
</style>
endsnippet
