snippet component "component"
<template>
$0
</template>

<script>
export default {
}
</script>
endsnippet

snippet style "style"
<style scoped>
$0
</style>
endsnippet

snippet rlink "router-link"
<router-link :to="$1">$2</router-link>$0
endsnippet
