snippet AddJob
	AddJob(
	    "${1:output}",
	    "${2:description}",
	    "${3:command}",
	    ${4:"dependencies"}
	)$5
snippet func
	function ${1}(${2})
	    ${3}
	end
snippet lfunc
	local function ${1}(${2})
	    ${3}
	end
snippet for
	for ${1} do
	    ${2}
	end
